<%= render "shared/second-header"%>

<% if @card == nil %>
  <div class='registration-main'>
    <div class='form-wrap'>
      <div class='form-header'>
        <h1 class='form-header-text'>
          クレジットカード登録
        </h1>
      </div>
      <div class='card-register-btn-content'>
        <%= link_to "登録する", cards_path, class:"card-register-btn" %>
      </div>
    </div>
  </div>
<% else %>
  <div class='registration-main'>
    <div class='form-wrap'>
      <div class='form-header'>
        <h1 class='form-header-text'>
          クレジットカード情報
        </h1>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">カード番号</label>
        </div>
        <%= "**** **** **** " + @card[:last4] %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">有効期限</label>
        </div>
        <%= @card[:exp_month] %>
        /
        <%= @card[:exp_year] %>
      </div>
      <div class='card-update-btn-content'>
        <%= link_to "変更する", edit_card_path(@card_id), class:"card-update-btn" %>
      </div>
    </div>
  </div>
<% end %>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報
    </h1>
  </div>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) furima太郎", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class='login-btn'>
    <%= f.submit "更新する" ,class:"login-red-btn" %>
  </div>
</div>
<% end %>

<div class='registration-main'>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        snsアカウント連携
      </h1>
    </div>
    <% if @sns_facebook %>
      <div class="form-link">
        <%= link_to "<facebookアカウントの連携を解除>", sns_credential_path(@sns_facebook.id), method: :delete, class: "link" %>
      </div>
    <% else %>
      <div class="form-link">
        <%= link_to "<facebookアカウントと連携>", user_facebook_omniauth_authorize_path, method: :post, class: "link" %>
      </div>
    <% end %>
    <% if @sns_google %>
      <div class="form-link">
        <%= link_to "<googleアカウントの連携を解除>", sns_credential_path(@sns_google.id), method: :delete, class: "link" %>
      </div>
    <% else %>
      <div class="form-link">
        <%= link_to "<googleアカウントと連携>", user_google_oauth2_omniauth_authorize_path, method: :post, class: "link" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/second-footer"%>